@keyframes loader {
  0% {
    display: flex;
  }
  95% {
    display: flex;
  }
  100% {
    display: none;
  }
}
.loader-wrapper {
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  background: #353535;
  animation: 5s loader;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header_mainpage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-left: 25%;
  margin-bottom: 10px;
  margin-top: 15px;
}

.navbar {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0px gray;
  position: relative;
}
.navbar .navbar__texte {
  padding-left: 15px;
  font-weight: 500;
}

.titre_texte {
  display: flex;
  text-align: center;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Roboto;
}
.titre_texte-p {
  margin-top: 1px;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button .button__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 55%;
  height: 40px;
  background: linear-gradient(0deg, #9356DC, #ff79da);
  border: none;
  color: white;
  box-shadow: 3px 3px 7px #d9d9d9;
  font-size: 14px;
}
.button .button__btn--restaurants {
  margin-top: 30px;
  font-size: 16px;
}
.button .button__btn:hover {
  opacity: 0.7;
  transition-duration: 700ms;
}

.part_one {
  background-color: #F6F6F6;
  padding-bottom: 35px;
}

.fonctionnement {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 5px;
}
.fonctionnement_tittre {
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 7px;
}
.fonctionnement_titre {
  padding-right: 60px;
}

.fonctionnement__card {
  background-color: #F6F6F6;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
}
.fonctionnement__card--form {
  border-radius: 20px;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  height: 65px;
}
.fonctionnement__card--form .icon {
  font-size: 18px;
  margin-right: 30px;
}
.fonctionnement__card--form .circle {
  position: relative;
  display: inline-flex;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  left: -15px;
  color: white;
  background: #9356DC;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.restaurant {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.restaurant .restaurant__titre {
  padding-top: 10px;
}

.cards {
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 20px;
  box-shadow: 3px 3px 8px #d9d9d9;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15px;
}
.cards__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 120px;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.content_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

a {
  text-align: none;
  text-decoration: unset;
}

.coeur {
  font-size: 25px;
  display: flex;
  justify-content: end;
  padding-right: 30px;
  margin-bottom: 0px;
}

.coeur_animation:active {
  background-image: linear-gradient(0deg, #9356DC, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.absolute {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  right: 10px;
  top: 10px;
  width: 70px;
  height: 29px;
}
.absolute .absolute_texte {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 6px;
  font-weight: 500;
  text-align: center;
}

.cards__img--texte {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
}
.cards__img--texte_p {
  padding-bottom: 0px;
}

footer {
  background-color: #353535;
  padding-bottom: 15px;
}
footer .texte_footer {
  color: white;
}
footer .p_footer {
  margin: 7px;
  padding-left: 7px;
  font-size: 14px;
}
footer .texte_footer--icon {
  padding-right: 8px;
}

.logo_footer {
  color: #ffffff;
  display: flex;
  justify-content: start;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 18px;
}
.logo_footer .white {
  color: white;
}

.font {
  font-family: Roboto;
}

.main_2 {
  margin: 0;
}

.header_restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.header_restaurants .arrow {
  display: flex;
  padding-left: 10px;
  text-decoration: unset;
  color: gray;
}

.img_restaurants {
  height: 275px;
}

.titre_page {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.titre_page .titre_restaurant {
  font-family: Shrikhand;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 17px;
  font-size: 24px;
  padding-top: 24px;
}

.pages__restaurants {
  background-color: #F6F6F6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding-bottom: 30px;
  position: relative;
  top: -60px;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}

.rectangle_form {
  border-radius: 20px;
  background-color: white;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 42px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 3px 3px 7px #d9d9d9;
  overflow: hidden;
  justify-content: space-between;
  height: 64px;
  transition: all 240ms ease-in-out;
}
.rectangle_form .restaurant_texte-title {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 15px;
  font-size: 18px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

.etat_initial {
  padding-bottom: 10px;
  width: calc(100vw - 60px);
  transition: all 240ms ease-in-out;
}
@media (min-width: 1200px) {
  .etat_initial {
    width: calc(36vw - 60px);
  }
}

.etat_animation .radioButton {
  display: none;
}
.etat_animation .flexBox {
  display: flex;
  height: 100%;
  transition: 240ms all ease-in-out;
}
.etat_animation__confirm {
  background-color: #99E2D0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 64px;
}
.etat_animation:has(input:checked) {
  grid-template-columns: 1fr 106px !important;
}
.etat_animation:has(input:checked) > div:nth-child(1) {
  width: calc(100vw - 124px);
}
@media (min-width: 1200px) {
  .etat_animation:has(input:checked) > div:nth-child(1) {
    width: calc(36vw - 124px);
  }
}
.etat_animation .coche {
  background-color: white;
  color: #99e2d0;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50px;
  width: 25px;
  height: 25px;
}

.restaurant_texte--p {
  font-size: 15px;
  padding-left: 15px;
  margin-bottom: 0;
  margin-top: 10px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

.price {
  display: flex;
  align-items: flex-end;
  font-size: 15px;
  font-weight: 700;
  margin: 0 8px 0 8px;
  height: 60px;
}

.header_restaurants {
  width: 100%;
}
.header_restaurants .header_restaurants--img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  padding-right: 25%;
  margin-bottom: 10px;
  margin-top: 15px;
}

.title_cards {
  margin-top: 37px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 18px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.title_cards--border {
  border-bottom: solid #99E2D0 3px;
  width: 45px;
  padding-bottom: 5px;
}

.footer__restaurants {
  margin-top: -58px;
}

@media only screen and (min-width: 1200px) {
  .header_mainpage {
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    width: 100%;
  }
  .header_mainpage .img_logo {
    width: 200px;
  }
  .navbar {
    box-shadow: none;
  }
  .titre_texte {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    font-size: 20px;
  }
  .titre_texte-p {
    font-size: 18px;
  }
  .button .button__btn {
    width: 218px;
  }
  .fonctionnement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
  }
  .fonctionnement .fonctionnement_titre {
    padding-right: 75-px;
    font-size: 16px;
  }
  .fonctionnement .fonctionnement__card {
    width: 322px;
  }
  .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .desktop {
    width: 520px;
    height: 251px;
    padding: 0px 27px 0px 60px;
  }
  .desktop .cards__img {
    height: 170px;
  }
  .content_main {
    height: 50px;
  }
  .fonctionnement_tittre {
    padding-left: 140px;
  }
  .footer {
    height: 114px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
  .footer .texte_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .footer .texte_footer .p_footer {
    font-size: 16px;
  }
  .footer--desktop {
    padding-right: 30px;
  }
  .logo_footer {
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 80px;
  }
  .header_restaurants {
    padding: 0;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    width: 100%;
  }
  .header_restaurants .header_restaurants--img {
    width: 200px;
    padding-right: 46%;
  }
  .img_restaurants {
    height: 490px;
  }
  .titre_page {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .pages__restaurants {
    position: relative;
    top: -30px;
    margin-left: 20%;
    margin-right: 20%;
  }
  .rectangle_form {
    margin-left: 20%;
    margin-right: 20%;
  }
  .title_cards {
    margin-left: 20%;
  }
  .footer__restaurants {
    height: 114px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
  .footer__restaurants .texte_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .footer__restaurants .texte_footer .p_footer {
    font-size: 16px;
  }
  .footer--desktop {
    padding-right: 30px;
  }
  .logo_footer {
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 80px;
  }
  .footer__restaurants {
    margin-top: -30px;
  }
}
@keyframes keyframes_animation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation1 {
  animation: keyframes_animation1 600ms;
}

@keyframes keyframes_animation2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animation2 {
  animation: keyframes_animation2 1200ms;
  animation-timing-function: cubic-bezier(1, -0.01, 0, 0.99);
}

@keyframes keyframes_animation3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animation3 {
  animation: keyframes_animation2 2400ms;
  animation-timing-function: cubic-bezier(1, -0.01, 0, 0.99);
}/*# sourceMappingURL=styles.css.map */